Repository anon-aadhaar/anon-aadhaar, pull requests merged in 2024-01, with the labels that each got.

#136 fix(chore): Added setup commands to monorepo
  package.json
  packages/anon-aadhaar-pcd/package.json
  packages/anon-aadhaar-pcd/src/utils.ts
  packages/circuits/.gitignore
  packages/circuits/build.sh
  packages/circuits/package.json
  packages/circuits/scripts/install-deps.sh
  packages/circuits/test/QRVerify.test.ts
  yarn.lock
Labels: circuits, CI/CD

#143 Add timestamp output
  packages/circuits/circuits/extractor.circom
  packages/circuits/circuits/qr_verify.circom
  packages/circuits/helpers/timestamp.circom
  packages/circuits/test/QRVerify.test.ts
  packages/circuits/test/circuits/timestamp-round-test.circom
  packages/circuits/test/circuits/timestamp-test.circom
  packages/circuits/test/timestamp.test.ts
Labels: enhancement

#151 feat: update contracts to v1.0.0
  .github/workflows/01-workflow.yaml
  .gitignore
  packages/circuits/package.json
  packages/circuits/scripts/build.sh
  packages/circuits/test/aadhaar-verifier.test.ts
  packages/contracts/README.md
  packages/contracts/contracts/Verifier.sol
  packages/contracts/deployed-contracts/sepolia.json
  packages/contracts/hardhat.config.ts
  packages/contracts/interfaces/IAnonAadhaar.sol
  packages/contracts/interfaces/IAnonAadhaarGroth16Verifier.sol
  packages/contracts/interfaces/IAnonAadhaarVote.sol
  packages/contracts/package.json
  packages/contracts/scripts/deploy.ts
  packages/contracts/src/AnonAadhaar.sol
  packages/contracts/src/Verifier.sol
  packages/contracts/src/VerifierTest.sol
  packages/contracts/src/example/AnonAadhaarVote.sol
  packages/contracts/test/Verifier.ts
  packages/contracts/test/const.ts
  packages/contracts/test/util.ts
  packages/core/src/constants.ts
  packages/core/src/core.ts
  packages/core/src/generateArgs.ts
  packages/core/src/index.ts
  packages/core/src/prover.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/core/test/core.test.ts
  packages/react/src/hooks/useAnonAadhaar.ts
  packages/react/src/prove.ts
  packages/react/src/provider/AnonAadhaarProvider.tsx
  packages/react/test/hook.test.tsx
  packages/react/test/pcd.test.ts
  yarn.lock
Labels: enhancement, contracts

#156 doc(chore): updates READMEs + cleaned react
  README.md
  package.json
  packages/circuits/README.md
  packages/circuits/package.json
  packages/circuits/scripts/build.sh
  packages/circuits/scripts/generateInput.ts
  packages/circuits/test/aadhaar-verifier.test.ts
  packages/circuits/tsconfig.json
  packages/contracts/README.md
  packages/contracts/package.json
  packages/contracts/scripts/deploy.ts
  packages/contracts/scripts/verify-proof.ts
  packages/contracts/tsconfig.json
  packages/core/README.md
  packages/core/package.json
  packages/core/src/generateArgs.ts
  packages/react/README.md
  packages/react/package.json
  packages/react/src/components/ProveButton.tsx
  packages/react/src/hooks/useAnonAadhaar.ts
  packages/react/src/index.ts
  packages/react/src/prove.ts
  packages/react/src/provider/AnonAadhaarProvider.tsx
  packages/react/src/verifySignature.ts
  packages/react/test/pcd.test.ts
  packages/react/tsconfig.json
  yarn.lock
Labels: documentation
